:root {
  --color-title: #ffffff;
  --color-text: #555555;
  --color-about: #303030;
  --color-money: #9da4bd;
  --color-money-plus: #9da4bd 60%;
  --color-accent: #ff6c00;
}
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
a:hover,
a:focus {
  color: var(--color-accent);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/*==============ICONS STYLES =================*/
.list-icon {
  display: flex;
}
.icons-forms {
  width: 20px;
  height: 20px;
}
.list-icon-item:not(:last-child) {
  margin-right: 10px;
}
.list-icon-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}
.links-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-icon:hover,
.links-icon:focus {
  fill: var(--color-accent);
}
/*==============  END ICONS STYLES =================*/

/* ================ MIX COMPONENTS ============*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.modal-buttons {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  min-width: 160px;
  padding: 12px 16px;
}
.modal-buttons:focus,
.modal-buttons:hover {
  background-color: var(--color-accent);
  color: var(--color-title);
}

.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: var(--color-about);
}
.social-links-link:hover,
.social-links-link:focus {
  color: var(--color-accent);
}
.subtittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-about);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.subtittle::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: var(--color-about);
  margin-right: 20px;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
}

/* ================  END MIX COMPONENTS ============*/

/* ================ HEADER ============*/
.navigation-list-link {
  color: var(--color-title);
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--color-title);
  margin-left: auto;
  margin-right: 40px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-position {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.logotype {
  margin-right: 72px;
}
/* ================ END HEADER ============*/

/* ================ HERO ============*/

.title-hero {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  color: var(--color-title);
  margin-bottom: 20px;
}
.hero .container {
  display: flex;
}
.hero-left-side {
  width: 100px;
}
.social-links-list {
  display: flex;
  align-items: center;
}
.social-links-list::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: var(--color-about);
  display: inline-block;
  flex-shrink: 0;
  margin-right: 40px;
}
.social-links-item:not(:last-child) {
  margin-right: 40px;
}
.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;
  background-image: url("../images/headerfoto.jpg");
  background-size: 1085px 680px;
}
.hero-right-side .description {
  max-width: 400px;
}
/* ================ END HERO ============*/

/* ================ ABOUT ============*/
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;

  color: var(--color-about);
  margin-bottom: 20px;
}
.about-right-side .description {
  margin-bottom: 20px;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
  margin-bottom: 40px;
}
.section-about {
  padding-bottom: 130px;
  padding-top: 130px;
}
.section-about .container {
  display: flex;
}
.about-left-side {
  margin-right: 32px;
}
.about-list {
  display: flex;
}
.about-list-item:not(:last-child) {
  margin-right: 20px;
}
.about-right-side {
  padding-left: 32px;
}
.section-about .title {
  margin-bottom: 20px;
}
/* ================ END ABOUT ============*/

/* ================ SERVICES ============*/
.services-item-name,
.services-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}
.services-section .title {
  margin-bottom: 44px;
}
.services-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}
.services-list {
  width: 50%;
  padding: 30px 40px;
  border: 1px solid #ccc;
}
.services-list-item {
  display: flex;
  justify-content: space-between;
}
.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.services-section .modal-buttons {
  display: block;
  margin: 0 auto;
}
.services-section {
  padding-bottom: 130px;
  padding-top: 130px;
  background-image: url("../images/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ================ END SERVICES ============*/

/* ================ ADVANTAGES ============*/
.section-advantages {
  padding-bottom: 130px;
  padding-top: 130px;
}
.advantages-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
  color: var(--color-about);
}
.advantages-item-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: var(--color-about);
}
.section-advantages .container {
  display: flex;
}
.section-advantages .description {
  max-width: 470px;
}
.advantages-left-side {
  padding-left: 100px;
  margin-right: 75px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 370px;
}
.advantages-list-item {
  width: 170px;
  min-height: 134px;
  padding: 20px 21px;
  background-color: #f7f7f7;
}
.advantages-list-item:nth-child(2n) {
  margin-top: 30px;
}
.advantages-list-item:not(:nth-child(2n)) {
  margin-right: 30px;
}
.advantages-right-side .title {
  max-width: 420px;
}
.advantages-right-side {
  padding-left: 75px;
}
/* ================ END ADVANTAGES ============*/

/* ================ MASTERS ============*/
.masters-section {
  padding-top: 130px;
  padding-bottom: 130px;
  background: #f7f7f7;
}
.masters-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  color: var(--color-about);
  margin-bottom: 8px;
}
.masters-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  color: var(--color-accent);
  margin-bottom: 30px;
}
.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.masters-list-item {
  margin: 15px;
}
.masters-carts-size {
  padding-top: 30px;
  padding-right: 82px;
  padding-left: 82px;
  padding-bottom: 70px;
  text-align: center;
}
.masters-section .title {
  margin-bottom: 44px;
}
/* ================ END MASTERS ============*/

/* ================ GALLERY ============*/
.gallery-list {
  display: flex;
  margin: -15px;
}
.gallery-list-item {
  margin: 15px;
}
.gallery-section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-section .subtittle {
  margin-bottom: 44px;
}
/* ================ END GALLERY ============*/

/* ================ CONTACTS INFO ============*/
.contacts-info-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}
.contacts-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}
.contacts-mail-link {
  text-decoration: underline;
}
.contacts-info-list {
  margin-bottom: 70px;
}
.section-contacts-form .container {
  display: flex;
}
.contacts-right-side {
  margin-left: auto;
  background-color: grey;
}
.section-contacts-form {
  padding-top: 130px;
  padding-bottom: 130px;
}
.contacts-info-list-item:not(:last-child) {
  margin-bottom: 20px;
}
/* ================ END CONTACTS INFO ============*/

/* ================ FOOTER ============*/

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  color: var(--color-money-plus);
}
.section-footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.section-footer .container {
  display: flex;
}
.social-links-list {
  margin-left: auto;
}
/* ================ END FOOTER ============*/
