:root {
  --color-title: #ffffff;
  --color-text: #555555;
  --color-about: #303030;
  --color-money: #9da4bd;
  --color-money-plus: #9da4bd 60%;
  --color-barber: #ff6c00;
}
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: #555555;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ff6c00;
}
/* ================ HEADER ============*/
.navigation-list-link {
  color: var(--color-title);
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.header {
  background-color: black;
}
.modal-buttons {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
}
.modal-buttons:focus,
.modal-buttons:hover {
  background-color: #ff6c00;
  color: var(--color-title);
}
.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
}

/* ================ END HEADER ============*/

/* ================ HERO ============*/
.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
}

.subtittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.title-hero {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
}
