:root {
  --color-title: #ffffff;
  --color-text: #555555;
  --color-about: #303030;
  --color-money: #9da4bd;
  --color-money-plus: #9da4bd 60%;
  --color-accent: #ff6c00;
}
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
a:hover,
a:focus {
  color: var(--color-accent);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
/* ================ MIX COMPONENTS ============*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.modal-buttons {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  min-width: 160px;
  padding: 12px 16px;
}
.modal-buttons:focus,
.modal-buttons:hover {
  background-color: var(--color-accent);
  color: var(--color-title);
}

.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: var(--color-about);
}
.social-links-link:hover,
.social-links-link:focus {
  color: var(--color-accent);
}
.subtittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-about);
  margin-bottom: 20px;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
}

/* ================  END MIX COMPONENTS ============*/

/* ================ HEADER ============*/
.navigation-list-link {
  color: var(--color-title);
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}
.header {
  background-color: black;
  padding-top: 32px;
  padding-bottom: 32px;
}
.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--color-title);
  margin-left: auto;
  margin-right: 40px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-position {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.logotype {
  margin-right: 72px;
}
/* ================ END HEADER ============*/

/* ================ HERO ============*/

.title-hero {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  color: var(--color-title);
  background-color: black;
  margin-bottom: 20px;
}
.hero .container {
  display: flex;
}
.hero-left-side {
  width: 100px;
}
.social-links-list {
  display: flex;
}
.social-links-item:not(:last-child) {
  margin-right: 40px;
}
.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;
}
.hero-right-side .description {
  max-width: 400px;
}
/* ================ END HERO ============*/

/* ================ ABOUT ============*/
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.667;
  letter-spacing: 0.05em;

  color: var(--color-about);
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
}
.section-about {
  padding-bottom: 130px;
  padding-top: 130px;
}
.section-about .container {
  display: flex;
}
.about-left-side {
  margin-right: 32px;
}
.about-list {
  display: flex;
}
.about-list-item:not(:last-child) {
  margin-right: 20px;
}
.about-right-side {
  padding-left: 32px;
}
.section-about .title {
  margin-bottom: 20px;
}
/* ================ END ABOUT ============*/

/* ================ SERVICES ============*/
.services-item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 667;
  color: var(--color-money-plus);
}
.services-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}

/* ================ END SERVICES ============*/

/* ================ ADVANTAGES ============*/
.advantages-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
  color: var(--color-about);
}
.advantages-item-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: var(--color-about);
}
/* ================ END ADVANTAGES ============*/

/* ================ MASTERS ============*/
.masters-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  color: var(--color-about);
}
.masters-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  color: var(--color-accent);
}
/* ================ END MASTERS ============*/

/* ================ GALLERY ============*/

/* ================ END GALLERY ============*/

/* ================ CONTACTS INFO ============*/
.contacts-info-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}
.contacts-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}
.contacts-mail-link {
  text-decoration: underline;
}
/* ================ END CONTACTS INFO ============*/

/* ================ FOOTER ============*/

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  color: var(--color-money-plus);
}
/* ================ END FOOTER ============*/
