.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
  margin-bottom: 40px;
}
.section-about {
  padding-bottom: 130px;
  padding-top: 130px;
}
.about-left-side {
  margin-right: 32px;
}
.about-list {
  // display: flex;
}
.about-list-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.about-right-side {
  padding-left: 32px;
}
