.masters-section {
  padding-top: 130px;
  padding-bottom: 130px;
  background: #f7f7f7;
}
.masters-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  color: var(--color-about);
  margin-bottom: 8px;
}
.masters-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  color: var(--color-accent);
  margin-bottom: 30px;
}
.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.masters-list-item {
  margin: 15px;
}
.masters-carts-size {
  padding-top: 30px;
  padding-right: 82px;
  padding-left: 82px;
  padding-bottom: 70px;
  text-align: center;
}
