.modal-buttons {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  min-width: 160px;
  padding: 12px 16px;
  background-color: transparent;

  &:focus,
  &:hover {
    background-color: var(--color-accent);
    color: var(--color-title);
  }
  .header & {
    margin-right: 20px;
  }
  .services-section & {
    display: block;
    margin: 0 auto;
  }
}
.modal-buttons-color {
  color: #ffffff;
}
.mobile-button {
  width: 194px;
}
