.modal-buttons {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  min-width: 160px;
  padding: 12px 16px;
  background-color: transparent;
}
.modal-buttons:focus,
.modal-buttons:hover {
  background-color: var(--color-accent);
  color: var(--color-title);
}
.modal-buttons-color {
  color: #ffffff;
}
