.subtittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-about);
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: var(--color-about);
    margin-right: 20px;
  }
  .gallery-section & {
    margin-bottom: 44px;
  }
}
.subtitle-light-theme {
  color: #303030;
}
.subtitle-dark-theme {
  color: rgba(157, 164, 189, 0.6);
  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}
