.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.title-light-theme {
  color: #303030;
}
.title-dark-theme {
  color: #ffffff;
}
