/*==============ICONS STYLES =================*/

/*==============  END ICONS STYLES =================*/

/* ================ MIX COMPONENTS ============*/

/* ================  END MIX COMPONENTS ============*/

/* ================ HEADER ============*/
.navigation-list-link {
  color: var(--color-title);
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}
.header .modal-buttons {
  margin-right: 20px;
}
.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--color-title);
  margin-left: auto;
  margin-right: 40px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-position {
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.logotype {
  margin-right: 72px;
}
/* ================ END HEADER ============*/

/* ================ HERO ============*/

.title-hero {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  color: var(--color-title);
  margin-bottom: 20px;
}
.hero .container {
  display: flex;
}
.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
  padding-left: 26px;
}
.hero .social-links-list {
  transform: rotate(-90deg);
  transform-origin: top left;
}
.social-links-list {
  display: flex;
  align-items: center;
}
.social-links-list::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: var(--color-about);
  display: inline-block;
  flex-shrink: 0;
  margin-right: 40px;
}
.social-links-item:not(:last-child) {
  margin-right: 40px;
}
.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;
  background-image: url("../images/headerfoto.jpg");
  background-size: cover;
  background-position: center;
}
.hero-right-side .description {
  max-width: 400px;
}
/* ================ END HERO ============*/

/* ================ ABOUT ============*/
.about-right-side .description {
  margin-bottom: 20px;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
  margin-bottom: 40px;
}
.section-about {
  padding-bottom: 130px;
  padding-top: 130px;
}
.section-about .container {
  display: flex;
}
.about-left-side {
  margin-right: 32px;
}
.about-list {
  display: flex;
}
.about-list-item:not(:last-child) {
  margin-right: 20px;
}
.about-right-side {
  padding-left: 32px;
}
.section-about .title {
  margin-bottom: 20px;
}
/* ================ END ABOUT ============*/

/* ================ SERVICES ============*/
.services-item-name,
.services-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}
.services-section .title {
  margin-bottom: 44px;
}
.services-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}
.services-list {
  width: 50%;
  padding: 30px 40px;
}
.services-list:nth-child(even) {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.services-list:nth-child(odd) {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.services-list-item {
  display: flex;
  justify-content: space-between;
}
.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.services-section .modal-buttons {
  display: block;
  margin: 0 auto;
}
.services-section {
  padding-bottom: 130px;
  padding-top: 130px;
  background-color: #111319;
  background-image: url("../images/img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ================ END SERVICES ============*/

/* ================ ADVANTAGES ============*/
.section-advantages {
  padding-bottom: 130px;
  padding-top: 130px;
}
.advantages-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
  color: var(--color-about);
  display: flex;
}
.advantages-item-count-plus {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.375;
  color: var(--color-accent);
}
.advantages-item-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: var(--color-about);
}
.section-advantages .container {
  display: flex;
}
.section-advantages .description {
  max-width: 470px;
}
.advantages-left-side {
  padding-left: 100px;
  margin-right: 75px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 370px;
}
.advantages-list-item {
  width: 170px;
  min-height: 134px;
  padding: 20px 21px;
  background-color: #f7f7f7;
}
.advantages-list-item:nth-child(2n) {
  margin-top: 30px;
}
.advantages-list-item:not(:nth-child(2n)) {
  margin-right: 30px;
}
.advantages-right-side .title {
  max-width: 420px;
}
.advantages-right-side {
  padding-left: 75px;
}
/* ================ END ADVANTAGES ============*/

/* ================ MASTERS ============*/
.masters-section {
  padding-top: 130px;
  padding-bottom: 130px;
  background: #f7f7f7;
}
.masters-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  color: var(--color-about);
  margin-bottom: 8px;
}
.masters-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.357;
  color: var(--color-accent);
  margin-bottom: 30px;
}
.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.masters-list-item {
  margin: 15px;
}
.masters-carts-size {
  padding-top: 30px;
  padding-right: 82px;
  padding-left: 82px;
  padding-bottom: 70px;
  text-align: center;
}
.masters-section .title {
  margin-bottom: 44px;
}
/* ================ END MASTERS ============*/

/* ================ GALLERY ============*/
.gallery-list {
  display: flex;
  margin: -15px;
}
.gallery-list-item {
  margin: 15px;
}
.gallery-section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-section .subtittle {
  margin-bottom: 44px;
}
/* ================ END GALLERY ============*/

/* ================ CONTACTS INFO ============*/
.contacts-info-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
  display: flex;
  align-items: center;
}
.contacts-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  color: var(--color-money-plus);
}
.contacts-mail-link {
  text-decoration: underline;
}
.contacts-info-list {
  margin-bottom: 70px;
}
.section-contacts-form .container {
  display: flex;
}
.contacts-right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contacts-right-side .title {
  margin-bottom: 40px;
}
.contacts-left-side {
  width: 60%;
}
.section-contacts-form {
  background-color: #191c26;
  background-image: url("../images/Bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  padding: 130px 0;
}
.contacts-wrapper {
  display: flex;
}
.contacts-info-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.info-icons {
  margin-right: 10px;
}
.contacts-form {
  display: flex;
  flex-wrap: wrap;
}
.forms-input {
  width: 270px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(157, 164, 189, 0.4);
  padding: 8px 0;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}
.forms-input:focus::placeholder {
  color: #ffffff;
}
.forms-input::placeholder,
.label-textarea {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}
.forms-input-mail {
  width: 250px;
}
.forms-label:not(:last-child) {
  margin-right: 30px;
}
.textarea-forms {
  resize: none;
  width: 560px;
}
.forms-label {
  margin-bottom: 50px;
}
.wrapper-forms {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.wrapper-forms label {
  margin-bottom: 40px;
}
/* ================ END CONTACTS INFO ============*/

/* ================ FOOTER ============*/

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.363;
  color: var(--color-money-plus);
}
.section-footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.section-footer .container {
  display: flex;
}
.social-links-list {
  margin-left: auto;
}
/* ================ END FOOTER ============*/
